// Info
.forms-info
  overflow hidden

.forms-info__icon
  float left
  display block
  width 5%
  padding 0px 10px 0 6px
  box-sizing border-box

.forms-info__text
  float left
  width 95%
  margin 0
  font-size 14px
  line-height 17px
  color #333333


// Agree
.forms-agree
  overflow hidden
  margin 16px 0 0 0

.forms-agree__checkbox
  width 5%
  float left
  display block
  width 5%
  padding 0px 10px 0 6px
  box-sizing border-box

.forms-agree__text
  float left
  width 95%
  margin 0
  font-size 14px
  line-height 17px
  color #333333

.panel-hint_blue
  background #E5F1FC
  border-top 1px dotted #CCCCCC
  border-bottom 1px dotted #CCCCCC
  padding 11px 12px

.panel-hint__text
  arial()
  font-weight 400
  font-size 12px
  line-height 23px
  margin 0
