.input-wrapper
  overflow hidden
  display block
  padding 0 10px 0 0

.input-type-text
  background none
  outline none
  padding 3px 6px 3px
  width 100%
  box-sizing border-box
  border 1px solid #888888
  color #555
  font-family 'Arial', 'sans-serif'
  font-size 14px
  font-weight 400
  &::-webkit-input-placeholder /* WebKit browsers */
    color #aaaaaa
  &:-moz-placeholder /* Mozilla Firefox 4 to 18 */
    color #aaaaaa
    opacity 1
  &::-moz-placeholder /* Mozilla Firefox 19+ */
    color #aaaaaa
    opacity 1
  &:-ms-input-placeholder /* Internet Explorer 10+ */
    color #aaaaaa
  &:focus
    box-shadow 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6)
    border 1px solid #66AFE9
  &:disabled
    opacity .2

.input-type-text_error
  border 1px solid #F99
  color #d20b0b
  background #ffbfbf
  &::-webkit-input-placeholder /* WebKit browsers */
    color #d20b0b
  &:-moz-placeholder /* Mozilla Firefox 4 to 18 */
    color #d20b0b
    opacity 1
  &::-moz-placeholder /* Mozilla Firefox 19+ */
    color: #d20b0b
    opacity 1
  &:-ms-input-placeholder /* Internet Explorer 10+ */
    color #d20b0b
  &:focus
    border 1px solid #d20b0b
    box-shadow 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 6px #D59392

.forms__input-indent
  margin -3px 0 11px 0

.forms__input_remove
  border none
  background transparent
  outline none
  line-height normal
  display block
  top 4px
  right 5px
  position absolute
  width 16px
  height 16px
  opacity .2
  &:focus
    outline none
  &:after
    font-weight bold
    display block
    top 0
    right 0
    position absolute
    cursor pointer
    font-family 'Arial', 'sans-serif'
    font-size 20px
    color #000000
    line-height 17px
    content '×'
  &:hover
    opacity .4
  &:active
    opacity .2

.forms__input-list
  margin 9px 0 0 0
  position relative
  &:first-child
    margin 0
