.header-wrapper
  background #0D0D0D
  overflow hidden


.header__bottom
  background #1e1e1e
  border-top 1px solid #FAAC18


.header__logotype
  margin 26px 0 39px
  display block


.header__phone
  color #ffffff


.header__city
  color #ffffff