.tab-buttons__item
  display inline-block
  outline none
  border none
  background #fff
  border-radius 5px
  color #111111
  font-size 14px
  padding 4px 6px
  /*margin: -3px 0 0 0*/
  text-decoration: none
  &:hover
    color #111111
    text-decoration none


.tab-buttons__item_active
  background #000000
  color #fff
  &:hover
    color #fff
