button-reset()
  display inline-block
  border none
  background transparent
  outline none
  line-height normal
  &:focus
    outline none

button_disabled()
  border 1px solid #DEDEDE
  background #EDEDED
  color #C1C1C1

.button
  button-reset()
  padding 5px 35px
  line-height 19px
  border 1px solid transparent

.button_default
  border 1px solid #B3B3B3
  background #BDC3C6
  &:hover
    background #C6CBCE
  &:disabled
    button_disabled()
  &:active
    background #BDC3C6

.button_primary
  border 1px solid #F8A304
  background #FAAC18
  &:hover
    background #FCBD54
  &:disabled
    button_disabled()
  &:active
    background #FAAC18

.button_with-siblings
  &:first-child
    margin 0 16px 0 0
  &:last-child
    margin 0
  &:only-child
    margin 0

.button-centralize
  text-align center
