.popup__heading
  margin 21px 0 25px
  font-family Arial, sans-serif
  font-size 21px
  color #333333
  font-weight 700
  font-style normal

.popup__heading_large
  font-size 25px
  color #111111
  line-height 26px
  margin 20px 0 22px 0
