.popup
  display none
  left 0
  right 0
  margin 0 auto
  top 100px
  position relative
  background #ffffff
  border 6px solid #4f4f4f
  z-index 250
  box-shadow(0 0 21px 0 rgba(0, 0, 0, .54))
  box-sizing(border-box)

.popup_opened
  display block

.popup_default
  max-width 540px
  padding 0 21px 24px 21px
