.popup
  display none
  left 0
  right 0
  margin 0 auto
  top 100px
  position relative
  background #ffffff
  border 6px solid #4f4f4f
  z-index 250
  box-shadow(0 0 21px 0 rgba(0, 0, 0, .54))
  box-sizing border-box

.popup_opened
  display block

.popup_default
  max-width 570px
  padding 0 24px 24px

.modal-window-small-size
  width 507px
  padding 0 24px

.popup__info
  overflow hidden

.popup-info__icon
  float left
  display block
  width 5%
  padding 0px 10px 0 0
  box-sizing border-box

.popup-info__text
  float left
  display block
  width 95%
  padding 0px 0 0 0
  box-sizing border-box
  font-size 14px
  color #000
  opacity .8
  line-height 17px
  margin 0

.popup-list__item
  font-size 14px
  ccolor #000
  opacity .8
  line-height 17px

.popup-list__item-link
  color #2685D1
  font-size 14px
  line-height 21px
