.block-modal-window
  display none
  left 0
  right 0
  margin 0 auto
  top 100px
  position relative
  background #ffffff
  border 6px solid #4f4f4f
  z-index 250
  box-shadow(0 0 21px 0 rgba(0, 0, 0, .54))
  box-sizing(border-box)

.block-modal-window_opened
  display inline-block

.block-modal-window__button-wrapper
  text-align center
  padding 12px 0 32px 0
