.breadcrumbs__link-typography
  font-family 'Arial', 'sans-serif'
  color #2685d1
  font-size 12px
  border-bottom 1px dotted #2685d1
  font-weight 400
  text-decoration underline
  border-bottom none
  &:hover
    color #ff0000

.breadcrumbs__text-typography
  font-size 12px
  color #333333
  font-family 'Arial', 'sans-serif'
  font-weight 400


.breadcrumbs
  padding 0
  font-size 0
  margin 15px 0 22px

.breadcrumbs__item
  list-style none
  display inline-block
  &:after
    margin 0 7px
    content '/'
    display inline-block
    color #888888
    font-size 12px
    font-weight 400
  &:last-child
    &:after
      display none
