.header-grid-row
  margin 0 -10px
  &:after
    content " "
    clear both
    display table

/* 36 Column grid */
for num in (1..60)
  .header-grid-col-{num}
    float left
    width (100% / 60 * num)
    padding 0 10px
    box-sizing border-box
    min-height 1px
    position relative


.header-wrapper
  background #0D0D0D
  overflow hidden

.header__bottom
  background #1e1e1e
  border-top 1px solid #FAAC18

.header__logotype
  margin 26px 0 39px
  display block

.header__phone
  color #ffffff

.header__city
  color #ffffff
