if popup
  if popup.show
    - var overlayHide = 'overlay_enabled'
    - var modalShow = 'popup_opened'
  else
    - var overlayHide = ''
    - var modalShow =  ''
  .overlay(class= overlayHide)
  .popup(class= popup.cssClass + ' ' + modalShow)
    h3.popup__heading(class= popup.heading.cssClass)= popup.heading.value
    button.button-reset.popup__close ×

    block popup-content
