.header-row
  margin 0 -10px
  &:before
    content ""
    clear both
    display table
  &:after
    content ""
    clear both
    display table

/* 36 Column grid */
for num in (1..60)
  .header-col-{num}
    float left
    width (100% / 60 * num)
    padding 0 10px
    box-sizing border-box
    min-height 1px
    position relative


.header-wrapper
  background #0D0D0D
  overflow hidden
  margin 0 0 270px 0

.header__bottom
  background #1e1e1e
  border-top 1px solid #FAAC18

.header__logotype
  margin 26px 0 39px
  display block

.header__phone
  color #ffffff
  font-size 20px
  text-align right
  margin 25px 0 0 0

.header__city
  color #ffffff

.header-nav
  display block
  overflow hidden
  float right
  margin 6px 0 0 0

.header-nav__item
  display block
  float left
  color #BABABA
  text-align right
  font-size 13px
  margin 0 8px
  text-decoration none
  border-bottom 1px solid #BABABA
  padding 0 0 1px 0
  &:first-child
    margin 0 8px 0 0
  &:last-child
    margin 0 0 0 8px
