.kz-50-grid__row
  grid__row(-34px)

grid__col(34px, 2, kz-50)

.aside-button-indents
  padding 12px 33px 13px
  margin 0 0 25px 0

.aside-icons-menu-indents
  margin 0px 0 23px

.from-to__heading
  margin 5px 0 5px

.from-to__heading_muted
  font-size 14px
  color #BCBCBC
  font-weight 400

.from-to__address
  margin 9px 0 19px

.from-to__icon
  position absolute
  top 23px
  right -5px

.page-title_card-of-request
  display inline-block

.card-request-note
  display inline-block

.card-request-note__icon
  margin 2px 5px 0 12px
  display block
  float left

.card-request-note__link
  font-weight 400
  font-style normal
  font-size 13px
  color #aaaaaa
  text-decoration none
  border-bottom 1px dashed #aaaaaa
  padding 0 0 1px 0

.card-request-note__link_filled
  color #2685D1
  border-bottom 1px dashed #2685D1

.from-to__phones
  border-top 1px solid #eeeeee
  padding 7px 0 0 0

.from-to__names
  margin 5px 0 9px
  font-size 14px
  color #777777
  line-height 17px

.fr-phones__item
  display inline-block
  font-size 14px
  color #777777
  line-height 17px
  margin 0


// Doc transfer

.grid-doc-transfer__row
  grid__row(-15px)

grid__col(15px, 9, doc-transfer)

.doc-transfer__h3
  margin 35px 0 17px

.doc-transfer
  border-top 1px solid #eeeeee
  padding 10px 0
  &:last-child
    border-bottom 1px solid #eeeeee

.doc-transfer__link-and-helper
  margin 0 0 3px 0

.doc-transfer__link
  link_dashed()
  font-size 13px
  line-height 17px

.doc-transfer__helper
  color #777777
  font-size 13px
  line-height 17px
  padding 0 0 0 9px

.doc-transfer__description
  font-size 13px
  color #1f1f1f
  margin 0
  line-height 17px

.doc-transfer__name
  color #111111
  line-height 17px
  font-size 13px
  margin 10px 0 0 0

.doc-transfer__name_muted
  color #BCBCBC

.doc-transfer__price
  font-size 13px
  color #1f1f1f
  margin 10px 0 0 0
  line-height 17px
  text-align right

.doc-transfer__icon
  margin 11px 8px 0 0
  float left


.bubble-tooltip
  border 1px solid #888888
  box-shadow 0 0 15px 5px rgba(0, 0, 0, .2)
  padding 23px 23px
  top -115px
  position absolute
  margin 0 -10px
  background #ffffff
  &:after
    content ''
    position absolute
    width 14px
    height 14px
    border-right 1px solid #888888
    border-bottom 1px solid #888888
    bottom -8px
    left calc(50% - 6px)
    transform rotate(45deg)
    background #fff

.bubble-tooltip__text
  color #1F1F1F
  font-size 13px
  line-height normal
  margin 0

.aside-no-access
  color #1F1F1F
  font-size 14px
  line-height 17px
  margin 0 0 39px

.aside-no-access__icon
  padding 0 2px 0 0

.aside-no-access__link_dotted
  link_dotted()

.aside-no-access__link_dashed
  link_dashed()
