default-padding = 15px

.container
  width (940px + (15px * 2))
  margin 0 auto
  padding 0 15px
  box-sizing border-box

generate-rows(indent)
  margin 0 indent
  &:after
    content " "
    clear both
    display table

generate-cols(indent, amount, prefix)
  for num in (1..amount)
    {prefix}-{num}
      width (100% / amount * num)
      padding 0 indent
      float left
      box-sizing border-box
      min-height 1px
      position relative


.row
  generate-rows(-15px)

.row_inner
  generate-rows(0)


/* 16 column grid system */
generate-cols(default-padding, 16, '.col-alt')

// 12 column grid system
generate-cols(default-padding, 12, '.col-md')

// 60 column grid system
generate-cols(10px, 60, '.sixty__col')

// Offsets
for num in (1..16)
  .col-alt-offset-{num}
    margin 0 0 0 100% / 16 * num

.row-for-10
  generate-rows(-10px)
