/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_calendar_name = 'icon-calendar';
$icon_calendar_x = 64px;
$icon_calendar_y = 84px;
$icon_calendar_offset_x = -64px;
$icon_calendar_offset_y = -84px;
$icon_calendar_width = 23px;
$icon_calendar_height = 24px;
$icon_calendar_total_width = 229px;
$icon_calendar_total_height = 180px;
$icon_calendar_image = 'icon-sprite.png';
$icon_calendar = 64px 84px -64px -84px 23px 24px 229px 180px 'icon-sprite.png' 'icon-calendar';
$icon_assistant_name = 'icon-assistant';
$icon_assistant_x = 0px;
$icon_assistant_y = 84px;
$icon_assistant_offset_x = 0px;
$icon_assistant_offset_y = -84px;
$icon_assistant_width = 36px;
$icon_assistant_height = 36px;
$icon_assistant_total_width = 229px;
$icon_assistant_total_height = 180px;
$icon_assistant_image = 'icon-sprite.png';
$icon_assistant = 0px 84px 0px -84px 36px 36px 229px 180px 'icon-sprite.png' 'icon-assistant';
$icon_attach_name = 'icon-attach';
$icon_attach_x = 188px;
$icon_attach_y = 84px;
$icon_attach_offset_x = -188px;
$icon_attach_offset_y = -84px;
$icon_attach_width = 19px;
$icon_attach_height = 19px;
$icon_attach_total_width = 229px;
$icon_attach_total_height = 180px;
$icon_attach_image = 'icon-sprite.png';
$icon_attach = 188px 84px -188px -84px 19px 19px 229px 180px 'icon-sprite.png' 'icon-attach';
$icon_attached_name = 'icon-attached';
$icon_attached_x = 34px;
$icon_attached_y = 137px;
$icon_attached_offset_x = -34px;
$icon_attached_offset_y = -137px;
$icon_attached_width = 13px;
$icon_attached_height = 17px;
$icon_attached_total_width = 229px;
$icon_attached_total_height = 180px;
$icon_attached_image = 'icon-sprite.png';
$icon_attached = 34px 137px -34px -137px 13px 17px 229px 180px 'icon-sprite.png' 'icon-attached';
$icon_bubble_name = 'icon-bubble';
$icon_bubble_x = 49px;
$icon_bubble_y = 35px;
$icon_bubble_offset_x = -49px;
$icon_bubble_offset_y = -35px;
$icon_bubble_width = 49px;
$icon_bubble_height = 49px;
$icon_bubble_total_width = 229px;
$icon_bubble_total_height = 180px;
$icon_bubble_image = 'icon-sprite.png';
$icon_bubble = 49px 35px -49px -35px 49px 49px 229px 180px 'icon-sprite.png' 'icon-bubble';
$icon_chevron_right_large_name = 'icon-chevron-right_large';
$icon_chevron_right_large_x = 0px;
$icon_chevron_right_large_y = 120px;
$icon_chevron_right_large_offset_x = 0px;
$icon_chevron_right_large_offset_y = -120px;
$icon_chevron_right_large_width = 20px;
$icon_chevron_right_large_height = 46px;
$icon_chevron_right_large_total_width = 229px;
$icon_chevron_right_large_total_height = 180px;
$icon_chevron_right_large_image = 'icon-sprite.png';
$icon_chevron_right_large = 0px 120px 0px -120px 20px 46px 229px 180px 'icon-sprite.png' 'icon-chevron-right_large';
$icon_exclamation_mark_name = 'icon-exclamation-mark';
$icon_exclamation_mark_x = 223px;
$icon_exclamation_mark_y = 35px;
$icon_exclamation_mark_offset_x = -223px;
$icon_exclamation_mark_offset_y = -35px;
$icon_exclamation_mark_width = 3px;
$icon_exclamation_mark_height = 11px;
$icon_exclamation_mark_total_width = 229px;
$icon_exclamation_mark_total_height = 180px;
$icon_exclamation_mark_image = 'icon-sprite.png';
$icon_exclamation_mark = 223px 35px -223px -35px 3px 11px 229px 180px 'icon-sprite.png' 'icon-exclamation-mark';
$icon_exclamation_mark_with_border_name = 'icon-exclamation-mark_with-border';
$icon_exclamation_mark_with_border_x = 150px;
$icon_exclamation_mark_with_border_y = 84px;
$icon_exclamation_mark_with_border_offset_x = -150px;
$icon_exclamation_mark_with_border_offset_y = -84px;
$icon_exclamation_mark_with_border_width = 19px;
$icon_exclamation_mark_with_border_height = 19px;
$icon_exclamation_mark_with_border_total_width = 229px;
$icon_exclamation_mark_with_border_total_height = 180px;
$icon_exclamation_mark_with_border_image = 'icon-sprite.png';
$icon_exclamation_mark_with_border = 150px 84px -150px -84px 19px 19px 229px 180px 'icon-sprite.png' 'icon-exclamation-mark_with-border';
$icon_7z_name = 'icon-7z';
$icon_7z_x = 36px;
$icon_7z_y = 120px;
$icon_7z_offset_x = -36px;
$icon_7z_offset_y = -120px;
$icon_7z_width = 16px;
$icon_7z_height = 17px;
$icon_7z_total_width = 229px;
$icon_7z_total_height = 180px;
$icon_7z_image = 'icon-sprite.png';
$icon_7z = 36px 120px -36px -120px 16px 17px 229px 180px 'icon-sprite.png' 'icon-7z';
$icon_blank_name = 'icon-blank';
$icon_blank_x = 20px;
$icon_blank_y = 137px;
$icon_blank_offset_x = -20px;
$icon_blank_offset_y = -137px;
$icon_blank_width = 14px;
$icon_blank_height = 18px;
$icon_blank_total_width = 229px;
$icon_blank_total_height = 180px;
$icon_blank_image = 'icon-sprite.png';
$icon_blank = 20px 137px -20px -137px 14px 18px 229px 180px 'icon-sprite.png' 'icon-blank';
$icon_bmp_name = 'icon-bmp';
$icon_bmp_x = 164px;
$icon_bmp_y = 120px;
$icon_bmp_offset_x = -164px;
$icon_bmp_offset_y = -120px;
$icon_bmp_width = 16px;
$icon_bmp_height = 17px;
$icon_bmp_total_width = 229px;
$icon_bmp_total_height = 180px;
$icon_bmp_image = 'icon-sprite.png';
$icon_bmp = 164px 120px -164px -120px 16px 17px 229px 180px 'icon-sprite.png' 'icon-bmp';
$icon_doc_name = 'icon-doc';
$icon_doc_x = 148px;
$icon_doc_y = 120px;
$icon_doc_offset_x = -148px;
$icon_doc_offset_y = -120px;
$icon_doc_width = 16px;
$icon_doc_height = 17px;
$icon_doc_total_width = 229px;
$icon_doc_total_height = 180px;
$icon_doc_image = 'icon-sprite.png';
$icon_doc = 148px 120px -148px -120px 16px 17px 229px 180px 'icon-sprite.png' 'icon-doc';
$icon_docx_name = 'icon-docx';
$icon_docx_x = 20px;
$icon_docx_y = 120px;
$icon_docx_offset_x = -20px;
$icon_docx_offset_y = -120px;
$icon_docx_width = 16px;
$icon_docx_height = 17px;
$icon_docx_total_width = 229px;
$icon_docx_total_height = 180px;
$icon_docx_image = 'icon-sprite.png';
$icon_docx = 20px 120px -20px -120px 16px 17px 229px 180px 'icon-sprite.png' 'icon-docx';
$icon_jpg_name = 'icon-jpg';
$icon_jpg_x = 68px;
$icon_jpg_y = 120px;
$icon_jpg_offset_x = -68px;
$icon_jpg_offset_y = -120px;
$icon_jpg_width = 16px;
$icon_jpg_height = 17px;
$icon_jpg_total_width = 229px;
$icon_jpg_total_height = 180px;
$icon_jpg_image = 'icon-sprite.png';
$icon_jpg = 68px 120px -68px -120px 16px 17px 229px 180px 'icon-sprite.png' 'icon-jpg';
$icon_pdf_name = 'icon-pdf';
$icon_pdf_x = 52px;
$icon_pdf_y = 120px;
$icon_pdf_offset_x = -52px;
$icon_pdf_offset_y = -120px;
$icon_pdf_width = 16px;
$icon_pdf_height = 17px;
$icon_pdf_total_width = 229px;
$icon_pdf_total_height = 180px;
$icon_pdf_image = 'icon-sprite.png';
$icon_pdf = 52px 120px -52px -120px 16px 17px 229px 180px 'icon-sprite.png' 'icon-pdf';
$icon_txt_name = 'icon-txt';
$icon_txt_x = 116px;
$icon_txt_y = 120px;
$icon_txt_offset_x = -116px;
$icon_txt_offset_y = -120px;
$icon_txt_width = 16px;
$icon_txt_height = 17px;
$icon_txt_total_width = 229px;
$icon_txt_total_height = 180px;
$icon_txt_image = 'icon-sprite.png';
$icon_txt = 116px 120px -116px -120px 16px 17px 229px 180px 'icon-sprite.png' 'icon-txt';
$icon_xls_name = 'icon-xls';
$icon_xls_x = 100px;
$icon_xls_y = 120px;
$icon_xls_offset_x = -100px;
$icon_xls_offset_y = -120px;
$icon_xls_width = 16px;
$icon_xls_height = 17px;
$icon_xls_total_width = 229px;
$icon_xls_total_height = 180px;
$icon_xls_image = 'icon-sprite.png';
$icon_xls = 100px 120px -100px -120px 16px 17px 229px 180px 'icon-sprite.png' 'icon-xls';
$icon_xlsx_name = 'icon-xlsx';
$icon_xlsx_x = 84px;
$icon_xlsx_y = 120px;
$icon_xlsx_offset_x = -84px;
$icon_xlsx_offset_y = -120px;
$icon_xlsx_width = 16px;
$icon_xlsx_height = 17px;
$icon_xlsx_total_width = 229px;
$icon_xlsx_total_height = 180px;
$icon_xlsx_image = 'icon-sprite.png';
$icon_xlsx = 84px 120px -84px -120px 16px 17px 229px 180px 'icon-sprite.png' 'icon-xlsx';
$icon_zip_name = 'icon-zip';
$icon_zip_x = 132px;
$icon_zip_y = 120px;
$icon_zip_offset_x = -132px;
$icon_zip_offset_y = -120px;
$icon_zip_width = 16px;
$icon_zip_height = 17px;
$icon_zip_total_width = 229px;
$icon_zip_total_height = 180px;
$icon_zip_image = 'icon-sprite.png';
$icon_zip = 132px 120px -132px -120px 16px 17px 229px 180px 'icon-sprite.png' 'icon-zip';
$icon_headset_name = 'icon-headset';
$icon_headset_x = 98px;
$icon_headset_y = 35px;
$icon_headset_offset_x = -98px;
$icon_headset_offset_y = -35px;
$icon_headset_width = 49px;
$icon_headset_height = 49px;
$icon_headset_total_width = 229px;
$icon_headset_total_height = 180px;
$icon_headset_image = 'icon-sprite.png';
$icon_headset = 98px 35px -98px -35px 49px 49px 229px 180px 'icon-sprite.png' 'icon-headset';
$icon_hourglass_name = 'icon-hourglass';
$icon_hourglass_x = 131px;
$icon_hourglass_y = 84px;
$icon_hourglass_offset_x = -131px;
$icon_hourglass_offset_y = -84px;
$icon_hourglass_width = 19px;
$icon_hourglass_height = 19px;
$icon_hourglass_total_width = 229px;
$icon_hourglass_total_height = 180px;
$icon_hourglass_image = 'icon-sprite.png';
$icon_hourglass = 131px 84px -131px -84px 19px 19px 229px 180px 'icon-sprite.png' 'icon-hourglass';
$icon_info_name = 'icon-info';
$icon_info_x = 62px;
$icon_info_y = 137px;
$icon_info_offset_x = -62px;
$icon_info_offset_y = -137px;
$icon_info_width = 14px;
$icon_info_height = 14px;
$icon_info_total_width = 229px;
$icon_info_total_height = 180px;
$icon_info_image = 'icon-sprite.png';
$icon_info = 62px 137px -62px -137px 14px 14px 229px 180px 'icon-sprite.png' 'icon-info';
$icon_label_name = 'icon-label';
$icon_label_x = 89px;
$icon_label_y = 137px;
$icon_label_offset_x = -89px;
$icon_label_offset_y = -137px;
$icon_label_width = 13px;
$icon_label_height = 13px;
$icon_label_total_width = 229px;
$icon_label_total_height = 180px;
$icon_label_image = 'icon-sprite.png';
$icon_label = 89px 137px -89px -137px 13px 13px 229px 180px 'icon-sprite.png' 'icon-label';
$icon_lifebuoy_name = 'icon-lifebuoy';
$icon_lifebuoy_x = 0px;
$icon_lifebuoy_y = 35px;
$icon_lifebuoy_offset_x = 0px;
$icon_lifebuoy_offset_y = -35px;
$icon_lifebuoy_width = 49px;
$icon_lifebuoy_height = 49px;
$icon_lifebuoy_total_width = 229px;
$icon_lifebuoy_total_height = 180px;
$icon_lifebuoy_image = 'icon-sprite.png';
$icon_lifebuoy = 0px 35px 0px -35px 49px 49px 229px 180px 'icon-sprite.png' 'icon-lifebuoy';
$icon_lock_name = 'icon-lock';
$icon_lock_x = 0px;
$icon_lock_y = 166px;
$icon_lock_offset_x = 0px;
$icon_lock_offset_y = -166px;
$icon_lock_width = 12px;
$icon_lock_height = 14px;
$icon_lock_total_width = 229px;
$icon_lock_total_height = 180px;
$icon_lock_image = 'icon-sprite.png';
$icon_lock = 0px 166px 0px -166px 12px 14px 229px 180px 'icon-sprite.png' 'icon-lock';
$icon_mail_name = 'icon-mail';
$icon_mail_x = 187px;
$icon_mail_y = 35px;
$icon_mail_offset_x = -187px;
$icon_mail_offset_y = -35px;
$icon_mail_width = 36px;
$icon_mail_height = 40px;
$icon_mail_total_width = 229px;
$icon_mail_total_height = 180px;
$icon_mail_image = 'icon-sprite.png';
$icon_mail = 187px 35px -187px -35px 36px 40px 229px 180px 'icon-sprite.png' 'icon-mail';
$icon_main_logotype_name = 'icon-main-logotype';
$icon_main_logotype_x = 0px;
$icon_main_logotype_y = 0px;
$icon_main_logotype_offset_x = 0px;
$icon_main_logotype_offset_y = 0px;
$icon_main_logotype_width = 229px;
$icon_main_logotype_height = 35px;
$icon_main_logotype_total_width = 229px;
$icon_main_logotype_total_height = 180px;
$icon_main_logotype_image = 'icon-sprite.png';
$icon_main_logotype = 0px 0px 0px 0px 229px 35px 229px 180px 'icon-sprite.png' 'icon-main-logotype';
$icon_mark_name = 'icon-mark';
$icon_mark_x = 114px;
$icon_mark_y = 137px;
$icon_mark_offset_x = -114px;
$icon_mark_offset_y = -137px;
$icon_mark_width = 12px;
$icon_mark_height = 11px;
$icon_mark_total_width = 229px;
$icon_mark_total_height = 180px;
$icon_mark_image = 'icon-sprite.png';
$icon_mark = 114px 137px -114px -137px 12px 11px 229px 180px 'icon-sprite.png' 'icon-mark';
$icon_mark_filled_name = 'icon-mark_filled';
$icon_mark_filled_x = 102px;
$icon_mark_filled_y = 137px;
$icon_mark_filled_offset_x = -102px;
$icon_mark_filled_offset_y = -137px;
$icon_mark_filled_width = 12px;
$icon_mark_filled_height = 11px;
$icon_mark_filled_total_width = 229px;
$icon_mark_filled_total_height = 180px;
$icon_mark_filled_image = 'icon-sprite.png';
$icon_mark_filled = 102px 137px -102px -137px 12px 11px 229px 180px 'icon-sprite.png' 'icon-mark_filled';
$icon_message_name = 'icon-message';
$icon_message_x = 36px;
$icon_message_y = 84px;
$icon_message_offset_x = -36px;
$icon_message_offset_y = -84px;
$icon_message_width = 28px;
$icon_message_height = 28px;
$icon_message_total_width = 229px;
$icon_message_total_height = 180px;
$icon_message_image = 'icon-sprite.png';
$icon_message = 36px 84px -36px -84px 28px 28px 229px 180px 'icon-sprite.png' 'icon-message';
$icon_message_white_name = 'icon-message_white';
$icon_message_white_x = 196px;
$icon_message_white_y = 120px;
$icon_message_white_offset_x = -196px;
$icon_message_white_offset_y = -120px;
$icon_message_white_width = 16px;
$icon_message_white_height = 15px;
$icon_message_white_total_width = 229px;
$icon_message_white_total_height = 180px;
$icon_message_white_image = 'icon-sprite.png';
$icon_message_white = 196px 120px -196px -120px 16px 15px 229px 180px 'icon-sprite.png' 'icon-message_white';
$icon_no_rounded_name = 'icon-no_rounded';
$icon_no_rounded_x = 111px;
$icon_no_rounded_y = 84px;
$icon_no_rounded_offset_x = -111px;
$icon_no_rounded_offset_y = -84px;
$icon_no_rounded_width = 20px;
$icon_no_rounded_height = 20px;
$icon_no_rounded_total_width = 229px;
$icon_no_rounded_total_height = 180px;
$icon_no_rounded_image = 'icon-sprite.png';
$icon_no_rounded = 111px 84px -111px -84px 20px 20px 229px 180px 'icon-sprite.png' 'icon-no_rounded';
$icon_ok_name = 'icon-ok';
$icon_ok_x = 87px;
$icon_ok_y = 84px;
$icon_ok_offset_x = -87px;
$icon_ok_offset_y = -84px;
$icon_ok_width = 24px;
$icon_ok_height = 20px;
$icon_ok_total_width = 229px;
$icon_ok_total_height = 180px;
$icon_ok_image = 'icon-sprite.png';
$icon_ok = 87px 84px -87px -84px 24px 20px 229px 180px 'icon-sprite.png' 'icon-ok';
$icon_ok_rounded_name = 'icon-ok_rounded';
$icon_ok_rounded_x = 47px;
$icon_ok_rounded_y = 137px;
$icon_ok_rounded_offset_x = -47px;
$icon_ok_rounded_offset_y = -137px;
$icon_ok_rounded_width = 15px;
$icon_ok_rounded_height = 14px;
$icon_ok_rounded_total_width = 229px;
$icon_ok_rounded_total_height = 180px;
$icon_ok_rounded_image = 'icon-sprite.png';
$icon_ok_rounded = 47px 137px -47px -137px 15px 14px 229px 180px 'icon-sprite.png' 'icon-ok_rounded';
$icon_ok_with_border_name = 'icon-ok_with-border';
$icon_ok_with_border_x = 169px;
$icon_ok_with_border_y = 84px;
$icon_ok_with_border_offset_x = -169px;
$icon_ok_with_border_offset_y = -84px;
$icon_ok_with_border_width = 19px;
$icon_ok_with_border_height = 19px;
$icon_ok_with_border_total_width = 229px;
$icon_ok_with_border_total_height = 180px;
$icon_ok_with_border_image = 'icon-sprite.png';
$icon_ok_with_border = 169px 84px -169px -84px 19px 19px 229px 180px 'icon-sprite.png' 'icon-ok_with-border';
$icon_play_name = 'icon-play';
$icon_play_x = 147px;
$icon_play_y = 35px;
$icon_play_offset_x = -147px;
$icon_play_offset_y = -35px;
$icon_play_width = 40px;
$icon_play_height = 43px;
$icon_play_total_width = 229px;
$icon_play_total_height = 180px;
$icon_play_image = 'icon-sprite.png';
$icon_play = 147px 35px -147px -35px 40px 43px 229px 180px 'icon-sprite.png' 'icon-play';
$icon_remove_name = 'icon-remove';
$icon_remove_x = 180px;
$icon_remove_y = 120px;
$icon_remove_offset_x = -180px;
$icon_remove_offset_y = -120px;
$icon_remove_width = 16px;
$icon_remove_height = 15px;
$icon_remove_total_width = 229px;
$icon_remove_total_height = 180px;
$icon_remove_image = 'icon-sprite.png';
$icon_remove = 180px 120px -180px -120px 16px 15px 229px 180px 'icon-sprite.png' 'icon-remove';
$icon_repeat_name = 'icon-repeat';
$icon_repeat_x = 212px;
$icon_repeat_y = 120px;
$icon_repeat_offset_x = -212px;
$icon_repeat_offset_y = -120px;
$icon_repeat_width = 16px;
$icon_repeat_height = 14px;
$icon_repeat_total_width = 229px;
$icon_repeat_total_height = 180px;
$icon_repeat_image = 'icon-sprite.png';
$icon_repeat = 212px 120px -212px -120px 16px 14px 229px 180px 'icon-sprite.png' 'icon-repeat';
$icon_ruble_name = 'icon-ruble';
$icon_ruble_x = 76px;
$icon_ruble_y = 137px;
$icon_ruble_offset_x = -76px;
$icon_ruble_offset_y = -137px;
$icon_ruble_width = 13px;
$icon_ruble_height = 13px;
$icon_ruble_total_width = 229px;
$icon_ruble_total_height = 180px;
$icon_ruble_image = 'icon-sprite.png';
$icon_ruble = 76px 137px -76px -137px 13px 13px 229px 180px 'icon-sprite.png' 'icon-ruble';
$icon_time_name = 'icon-time';
$icon_time_x = 207px;
$icon_time_y = 84px;
$icon_time_offset_x = -207px;
$icon_time_offset_y = -84px;
$icon_time_width = 16px;
$icon_time_height = 19px;
$icon_time_total_width = 229px;
$icon_time_total_height = 180px;
$icon_time_image = 'icon-sprite.png';
$icon_time = 207px 84px -207px -84px 16px 19px 229px 180px 'icon-sprite.png' 'icon-time';
$spritesheet_width = 229px;
$spritesheet_height = 180px;
$spritesheet_image = 'icon-sprite.png';
$spritesheet_sprites = $icon_calendar $icon_assistant $icon_attach $icon_attached $icon_bubble $icon_chevron_right_large $icon_exclamation_mark $icon_exclamation_mark_with_border $icon_7z $icon_blank $icon_bmp $icon_doc $icon_docx $icon_jpg $icon_pdf $icon_txt $icon_xls $icon_xlsx $icon_zip $icon_headset $icon_hourglass $icon_info $icon_label $icon_lifebuoy $icon_lock $icon_mail $icon_main_logotype $icon_mark $icon_mark_filled $icon_message $icon_message_white $icon_no_rounded $icon_ok $icon_ok_rounded $icon_ok_with_border $icon_play $icon_remove $icon_repeat $icon_ruble $icon_time;
$spritesheet = 229px 180px 'icon-sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
