.select
  background none
  outline none
  padding 2px 3px
  width 100%
  box-sizing border-box
  border 1px solid #888888
  &:focus
    box-shadow 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6)
    border 1px solid #66AFE9

.select_error
  border 1px solid #d20b0b
  color #d20b0b
  background #ffbfbf

.select__option
  -webkit-appearance none
  -moz-appearance none
  appearance none
  padding 0
  margin 0
  background #ffffff
  color #888888
  &:disabled
    color #aaaaaa

.forms__select-text
  font-family 'Arial', 'sans-serif'
  font-size 14px
  font-weight 400
  color #555555
