.forms__hint
  margin: 6px 0 0 0


.forms__hint-typography
  font-size: 12px
  color: #aaaaaa
  line-height: 14px


.forms__hint_error
  color: #D20B0B


.forms__hint_link-typography
  color: #2685D1
  border-bottom: 1px dashed #2685D1
  text-decoration: none
  display: inline-block
  line-height: 11px
