.forms__label
  float: right
  text-align: right
  position: relative
  line-height: 17px
  padding: 3px 0 0 0

.forms__label-required
  font-weight: 700
  color: #aaaaaa
  font-size: 16px
  position: absolute
  top: -1px
  right: -6px

.forms__label-required_error
  color: #d20b0b

.forms__label-typography
  arial()
  font-weight 700
  font-size 14px
  color #333333
