.form-line__radio
  display block
  float left
  margin 1px 6px 0 0

.form-line__radio-label
  padding 3px 0 4px 0
  display block
  float none
  arial()
  font-size 14px
  line-height 17px
  color #333333
  &:last-child
    padding 3px 0 0 0

.form-line__radio-label_disabled
  opacity .2

.radio-shift
  right -18px
  position relative
