.form-line__radio
  display block
  float left
  margin 1px 6px 0 0

.form-line__radio-label
  padding 3px 0 4px 0
  display block
  float none
  &:last-child
    padding 3px 0 0 0

.form-line__radio-label-typography
  arial()
  font-size 14px
  line-height 17px
  color #333333
