.forms__text-list
  display: block
  margin: 3px 0 0 0

  &:first-child
    margin: 0


.forms__text-list_plain
  display: block
  margin: 3px 0 0 0

  &:first-child
    margin: -1px 0 0 0


.forms__text
  display: inline-block
  position: relative
  margin: 0
  padding: 1px 0 0 0


.forms__text_remove
  position: absolute

  &:after
    cursor: pointer
    display: block
    position: absolute
    font-family: 'Arial', 'sans-serif'
    font-size: 20px
    color: #D20B0B
    line-height: 17px
    content: '×'
    top: 0
    right: -19px


.forms__text-typography
  font-family: 'Arial', 'sans-serif'
  font-size: 14px
  color: #111111
  font-weight: 400
  line-height: 17px
