.info
  overflow hidden
  display flex

.info__icon
  width 23px
  float left

.info__text
  width 80%
  margin 0
  color #333333
  font-size 14px
  line-height 17px

.vertical-separator
  margin 20px 0 0 0
