@require '../node_modules/normalize.css/normalize.css'

@require 'partials/base'

@require 'partials/_grid'
@require 'partials/_icon-sprite'
@require 'partials/_icons'

@require '../blocks/*'

@require 'partials/_card-of-order'
