@import '../../normalize-css/normalize.css'

@import 'partials/base'

@import 'partials/_grid'
@import 'partials/_icon-sprite'
@import 'partials/_icons'

@import '../blocks/buttons/stylesheets/buttons'
@import '../blocks/forms/stylesheets/forms'
@import '../blocks/panels/stylesheets/panels'
@import '../blocks/top-menu/stylesheets/top-menu'

@import '../blocks/paragraph/stylesheets/paragraph'
@import '../blocks/orders-table/orders-table'
@import '../blocks/breadcrumbs/breadcrumbs'
@import '../blocks/footer/footer'
@import '../blocks/headings/stylesheets/page-title'
@import '../blocks/query-history/stylesheets/query-history'
@import '../blocks/aside-icons-menu/stylesheets/aside-icons-menu'
@import '../blocks/ok-list/stylesheets/ok-list'
@import '../blocks/shipments-table/stylesheets/shipments-table'
@import '../blocks/popups/stylesheets/popups'
@import '../blocks/info/info'

@import 'partials/_card-of-order'
@import '../blocks/dellin-header/dellin-header'
