.footer-wrapper
  background: #eeeeee
  margin 160px 0 0 0

.footer-menu
  padding 54px 0 60px
  margin 0


.footer-menu__item
  list-style: none

.footer-menu_second-level
  padding 0

.footer-menu_second-level__item
  list-style none


.footer-menu__logout


.footer-menu__logout-link
  font-family 'Arial', 'sans-serif'
  color #2685d1
  font-size 12px
  border-bottom 1px dotted #2685d1
  font-weight 400
  text-decoration none

.footer-menu__heading
  font-family 'Arial', 'sans-serif'
  font-size 14px
  color #111111
  font-weight 700

.footer-menu_second-level__link
  font-family 'Arial', 'sans-serif'
  font-weight 400
  font-size 13px
  line-height 17px
  color #888888
  text-decoration underline
