.ok-list
  list-style none
  padding 0

.ok-list__item
  display block
  overflow hidden
  margin 11px 0 0 0
  &:first-child
    margin 0

.ok-list__icon
  display block
  float left
  width 7%

.ok-list__text
  font-size 14px
  display block
  margin 0
  float left
  color #1E1E1E
  width 93%
  box-sizing border-box
  line-height 16px
