.form-line
  padding: 5px 0 13px 0

  &:first-child
    padding: 0 0 13px 0

  &:last-child
    padding: 5px 0 0 0

  &:only-child
    padding 0


.form-line_muted
  opacity: .3


.form-line_siblings
  padding: 5px 0 5px 0

  &:first-child
    padding: 0 0 5px 0

  &:last-child
    padding: 5px 0 0 0

  &:only-child
    padding: 0


.form-line_centered
  text-align: center


.form-line__item
  margin: 18px 0 0 0


/* Lines for buttons */

.forms__button-reset
  display: inline-block
  outline: none
  background: transparent
  border: none


.forms__button
  font-size 0
  text-align: center
  padding: 36px 0 41px 0
