.search-form
  display block
  overflow hidden

.search-form__input
  font-size 14px
  border 1px solid #888888
  color #555555
  padding 6px 9px
  width 100%
  box-sizing border-box
  &:focus
    outline none

.search-form__submit
  float right
