.query-history__grid


.query-history__line
  border-top 1px solid #eeeeee
  overflow hidden
  padding 10px 0 13px

  &:last-child
    border-bottom 1px solid #eeeeee


.query-history__heading
  margin 16px 0 14px

.query-history__date
  width 16%
  float left
  font-size 12px
  color #777777
  text-align right
  line-height 16px
  box-sizing border-box
  padding 2px 10px 0 0


.query-history__text
  width 60%
  float left
  font-family: 'Arial Regular', 'Arial'
  font-weight: 400
  font-style: normal
  font-size: 13px
  color: #111111
  line-height: 17px
  display inline-block
  box-sizing border-box
  text-decoration none
  border-bottom 1px dashed #111111


.query-history__icon
  float: left
  width 10%
  box-sizing border-box

.query-history__empty
  font-size 12px
  color #777777
  line-height 17px
