- var footerMenu = {}
- footerMenu.items = []

- footerMenu.items[0] = {}
  - footerMenu.items[0].heading = 'Перевозка сборных грузов'
  - footerMenu.items[0].array = [ 'Доставка от адреса и до адреса', 'Межтерималнальная перевозка', 'Доставка документов и малогаборитного груза', 'Авиаперевозки', 'Международные грузоперевозки', 'Страхование груза' ]

- footerMenu.items[1] = {}
  - footerMenu.items[1].heading = 'Складские услуги'
  - footerMenu.items[1].array = [ 'Ответственное хранение', 'Упаковка грузов' ]

- footerMenu.items[2] = {}
  - footerMenu.items[2].heading = 'Выделенный транспорт'
  - footerMenu.items[2].array = [ 'Отправка груза фурами под индивидуальный заказ', 'Почасовая аренда машины', 'Прямая машина', 'Контейнерные перевозки' ]

- footerMenu.items[3] = {}
  - footerMenu.items[3].heading = 'Онлайн заявки'
  - footerMenu.items[3].array = [ 'Отправить груз', 'Запросить бухгалтерские документы', 'Отвезти груз получателю' ]

- footerMenu.items[4] = {}
  - footerMenu.items[4].heading = 'Инструменты'
  - footerMenu.items[4].array = [ 'Расчёт стоимости грузоперевозки', 'Статус доставки груза', 'Документы', 'Что такое личный кабинет' ]

- footerMenu.items[5] = {}
  - footerMenu.items[5].heading = 'Компания'
  - footerMenu.items[5].array = [ 'Аренда терминалов', 'Поставщики', 'Разработчикам', 'Карьера в деловых линиях' ]

- footerMenu.items[6] = {}
  - footerMenu.items[6].heading = 'Личный кабинет'
  - footerMenu.items[6].array = [ 'Отправки', 'Взаиморасчёты', 'Заявки на документы', 'Претензии', 'Контрагенты', 'Отчёты', 'API для разработчиков', 'Настройки' ]
