.forms__link-wrapper
  padding 2px 0 0 0

.forms__link
  font-family 'Arial', 'sans-serif'
  font-weight 400
  font-style normal
  font-size 14px
  text-decoration underline
  color #2685D1
  line-height 17px
  padding 3px 0 0 0
  display inline

.forms__link_muted
  padding 0
  color #AAAAAA
  text-decoration none
  border-bottom 1px dotted #AAAAAA

.forms__link_dotted
  text-decoration none
  border-bottom 1px dotted #2685D1
