
if !val.value
  - val.value = '__.__.____'

input.input-type-text.forms__input-typography(type= 'text', value= val.value, id= val.fieldClass)
button.forms__button-reset.forms__button_datetime
  i.icon.icon-calendar
