
.page-title
  font-size: 28px
  font-family: 'Arial', 'sans-serif'
  font-weight: 700
  color: #111111
  margin: 0 0 20px


.page-title_error
  color #990000


.block_h4
  font-family: 'Arial', 'sans-serif'
  font-weight: 700
  font-style: normal
  font-size: 14px
  color: #111111
  line-height: 17px


.block_h3
  font-size: 16px
  color: #111111
  line-height: 20px
  font-weight 700

