
if buttons
  each button, buttonIndex in buttons
    if button.url
      a.button.button_default.button_default-typography(href= button.url, class= button.cssClass)= button.value
    else
      if button.disabled
        button.button.button_typography(type= 'submit', class= button.cssClass, disabled)= button.value
      else
        button.button.button_typography(type= 'submit', class= button.cssClass)= button.value

  - buttons = []
